footer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* flex: 0 0 auto; */
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    /* height: 300px; */
    /* text-align: left; */
    /* font: normal 16px sans-serif; */
    padding: 50px 50px;
}

footer .footer-left{  
    justify-content: center;
    margin-right: 250px;
    height: 100%;    
}

footer .footer-left p {
    color: #ffffff;
    font-size: 14px;
    margin: 10px;
    justify-content: center;
    align-content: center;
}

p {
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

footer p.footer-links {
    height: 100%;
    width: 100%;
    align-items: center;
    font-family: 'Playfair Display';
    font-size: 15px;
    font-weight: normal;    
    color: rgb(255, 255, 255);
    margin: 0 0 10px;
    margin-right: 10px;        
}

footer p.footer-links_address{
    color: #8f9296;
}

/** =============================================================*/

/* @import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 */


footer .footer-right {
    justify-content: center;
    height: 100%; 
}

footer .footer-right .social-icon {
    color: #fff;
}

ul {
    padding:0;
    list-style: none;
}

ul.social-icons {
    margin: 10px;    
}

.social-icons li {
    /* vertical-align: top; */
    display: block;
    height: 30px;
    color: #fff;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:5px 9px;
    background-color: #292c2f;
}

.fa-twitter {
    padding:5px 9px;
    background-color: #292c2f;
}

.fa-instagram {
    padding:5px 9px;
    background-color: #292c2f;
}

.fa-pinterest {
    padding:5px 9px;
    background-color: #292c2f;
}
.fa-google-plus {
    padding:5px 9px;
    background-color: #292c2f;
}
