/* Header */
/*===================================================*/
.header_div{    
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex-flow: row nowrap;
} 

.header_div > img{
    margin: 1px;
    padding: 5px;       
    height: 70%;
}

.header_navigation > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.header_navigation > ul > li > a{
    height: 100%;
    margin: 30px;
    padding: 10px;
    color: coral;
    font-family: 'Raleway';      
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
    font-weight: bold;    
    
}