/* Header */
/*===================================================*/
.header_div{    
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex-flow: row nowrap;
} 

.header_div > img{
    margin: 1px;
    padding: 5px;       
    height: 70%;
}

.header_navigation > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.header_navigation > ul > li > a{
    height: 100%;
    margin: 30px;
    padding: 10px;
    color: #e2574c;
    font-family: 'Raleway';      
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; 
    font-weight: bold;    
    
}

.shoppingbasket {
    width:40px;
    background-color:white;
    position:relative;
    font-family: 'Raleway'; 
  }

.basketitems {
    color:#fff;
    font-size:70%;
    background-color:#e74c3c;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-90%);
    -moz-transform:translate(-50%,-90%);
    transform:translate(-50%,-90%);
    padding:0 12%;
    border-radius:1000px;
  }