/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/wave-bkgd.jpg");
  /* Set a specific height */
   height: 400px;
  /* Position and center the image to scale nicely on all screens */
   background-position: center;
   background-repeat: no-repeat;
   background-position-x: 40%;
   background-position-y: 100%;
   position: relative;
}

/* Place text in the middle of the image */
.hero-text {
   text-align: center;
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
}

.hero-text .signup_styles{
   height: 100%;
   width: 100%;
   align-items: center;
   font-family: 'Playfair Display';
   font-weight: normal;
   font-style: italic;
   font-size: 50px;
   margin: 0.5%;
   padding: 10px;
}

.hero-text .signup_styles span{
   font-weight: bold;
   margin: 1%;
}

.stay_updated{
   position: relative;
   font-family: 'Raleway';
   font-style: normal;
   font-size: 20px;
   margin: 10px;
   justify-content: center;
   align-content: center;
   width: 100%;
}

.stay_updated.stay_updated_1st{
   position: relative;
   left: -10px;
   margin: 10px;
}

.stay_updated .stay_updated_2nd{
   position: relative;
   left: -10px;
   margin: 10px;
}

.input_email .submit_button:hover{
   cursor:pointer;
}

* {
   box-sizing: inherit;
}

.container {
   width: 400px;
   margin: 0 auto;
}

.embed-submit-field {
   position: relative;
}

input {
   font-family: 'Raleway';
   font-style: normal;
   font-size: 20px;
   width: 90%;
   padding: 15px;
   border-radius: 100px;
   color: grey;
}

button {
   position: absolute;
   font-family: 'Raleway';
   font-style: normal;
   font-size: 20px;
   right: 10px;
   top: 7px;
   border-radius: 100px;
  /* background: #ededed;
   */
   padding: 10px;
   color: white;
   background-color: rgb(207, 62, 62);
}
